{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block links %}<link rel="stylesheet" href="{% static 'main/css/main.css' %}">{% endblock %}

{% block content %}
	<h1 style="margin-bottom: 20px;">{{ title }}</h1>
	<h2>Что такое MathPractice?</h2>
	<p>MathPractice - сайт, в котором ты можешь поделиться с людьми гениальной задачей, которая резко пришла тебе в голову, но ты не можешь ее решить. Здесь тебе обязательно помогут такие любознательные люди, как и ты</p>
{% endblock %}
